body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.full {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
