---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:					#000 !default;
$gray-darker:				lighten($gray-base, 13.5%) !default; // #222
$gray-dark:					lighten($gray-base, 20%) !default;   // #333
$gray:						lighten($gray-base, 33.5%) !default; // #555
$gray-light:				lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:				lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:				#b84d45 !default;
$brand-success:				#5cb85c !default;
$brand-info:				#5bc0de !default;
$brand-warning:				#f0ad4e !default;
$brand-danger:				#d9534f !default;

$navbar-default-color:		$gray-light !default;
$navbar-default-bg:			#fff !default;
$navbar-default-border:		darken($navbar-default-bg, 6.5%) !default;

// Brand Colors for Social Links
$brand-github:				#333333;
$brand-twitter:				#1da1f2;
$brand-facebook:			#3b5998;
$brand-google-plus:			#dd4b39;

// Import bootstrap-sass
@import "../vendor/bootstrap-sass/bootstrap";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"mixins",
	"base",
	"syntax-highlighting",
	"sections/nav",
	"sections/ad",
	"sections/buttons",
	"sections/template-overviews",
	"sections/index",
	"sections/search",
	"sections/resources",
	"sections/posts",
	"sections/footer"
;