// Mixins

.body-font() {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.heading-font() {
	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
}