<div
  class="alert alert-info border-0 mb-0 rounded-0 px-0"
  role="alert"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
          <span class="mr-3">
              <i class="fad fa-rocket-launch mr-2 text-info"></i>
              <a href="https://shop.startbootstrap.com/shop/" class="alert-link font-weight-bold small"
                >Start your projects even faster using the new, pro products from Start Bootstrap!</a
              >
          </span>
          <a
            class="btn btn-info btn-sm"
            href="https://shop.startbootstrap.com/shop/"
            >View Pro Products <i class="far fa-long-arrow-alt-right"></i></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
