<footer>

    <div class="footer-mailchimp">
        <div class="container text-center">
            <!-- Add when guides go live! -->
            <!-- <h2>Want more Bootstrap themes, templates, &amp; guides?</h2> -->
            <h2>Want more Bootstrap themes &amp; templates?</h2>
            <h5>Subscribe to our mailing list to receive an update when new items arrive!</h5>
            <div id="mc_embed_signup">
                <form role="form" action="https://startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                    <div class="input-group input-group-lg">
                        <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                        <span class="input-group-btn">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">Subscribe!</button>
                        </span>
                    </div>
                    <div id="mce-responses">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </form>
            </div>
            <!-- End MailChimp Signup Form -->
        </div>
    </div>

    <div class="footer-social">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item social-github">
                    <a href="https://github.com/blackrockdigital"><i class="fa fa-github"></i></a>
                </li>
                <li class="list-inline-item social-twitter">
                    <a href="https://twitter.com/sbootstrap"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="https://www.facebook.com/StartBootstrap/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="https://plus.google.com/+Startbootstrap"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-main">
        <div class="container">
        	
        	<a href="/">Start Bootstrap</a> is a project created and maintained by <a href="http://davidmiller.io">David Miller</a> at <a href="http://blackrockdigital.io">Blackrock Digital</a>.

            <br>

            Themes and templates licensed <a href="{{ site.license-url }}">{{ site.license }}</a>, Start Bootstrap website <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.

            <br>

            Based on <a href="http://getbootstrap.com">Bootstrap</a>.

        </div>
    </div>

</footer>
