<div class="cta-mail">
    <div class="container text-center">
        <h2>Want more Bootstrap themes &amp; templates?</h2>
        <h4>Subscribe to our mailing list to receive an update when new items arrive!</h4>
        <div id="mc_embed_signup">
            <form role="form" action="http://startbootstrap.us3.list-manage1.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group input-group-lg">
                    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                    <span class="input-group-btn">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Subscribe!</button>
                    </span>
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </form>
        </div>
        <!-- End MailChimp Signup Form -->
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-left">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/all-templates">Themes</a>
                    </li>
                    <li>
                        <a href="http://startbootstrap.tumblr.com/">Blog</a>
                    </li>
                    <li>
                        <a href="/bootstrap-resources">Resources</a>
                    </li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <p>
                    <iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user=ironsummitmedia&repo=startbootstrap&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="55px" height="20px"></iframe>
                    <iframe id="gh-star" src="http://ghbtns.com/github-btn.html?user=ironsummitmedia&repo=startbootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
                    <a href="https://twitter.com/SBootstrap" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @SBootstrap</a>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://startbootstrap.com" data-via="SBootstrap" data-lang="en">Tweet</a>
                    <br>
                    <span class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/116841216196186745329" data-rel="publisher"></span>
                    <span class="g-plusone" data-size="medium" data-href="http://startbootstrap.com/"></span>
                    <br>
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FIronSummitMedia&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
                </p>
            </div>
            <div class="col-md-6 footer-right">
                <p><a href="http://www.startbootstrap.com">Start Bootstrap</a> is a project maintained by <a href="http://www.ironsummitmedia.com">Iron Summit Media Strategies</a>.</p>
                <p>Bootstrap CDN by <a href="http://tracking.maxcdn.com/c/99191/3982/378"><img src="/assets/img/maxcdn-logo.png" alt="MaxCDN Logo"></a></p>
                <p>Hosted on <a href="https://pages.github.com/"><img src="/assets/img/gh-pages-logo.png" alt="GitHub Pages Logo"></a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>Themes and templates licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
                <br>Based on <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</footer>
