<head>

  <script type="text/javascript">
    var host = "startbootstrap.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Start Bootstrap">
  <meta name="google-site-verification" content="37Tru9bxB3NrqXCt6JT5Vx8wz2AJQ0G4TkC-j8WL3kw">

  <!-- Page Meta Title -->
  <title>
    {{ page.meta-title }} - Start Bootstrap
  </title>

  <!-- Page Meta Description -->
  <meta name="description" content="{{ page.meta-description }}">

  <!-- Canonical -->
  <link rel="canonical" href="https://startbootstrap.com{{ page.url | replace:'index.html','' }}">

  <!-- Load Nunito Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Load Font Awesome Pro CDN -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">

  <!-- Load Main CSS -->
  {% if page.type %}
  <link rel="stylesheet" href="/assets/style-{{ page.type }}.css">
  {% else %}
  <link rel="stylesheet" href="{{ "/assets/style-default.css" | relative_url }}">
  {% endif %}

  <!-- XML Feed -->
  {% feed_meta %}

  {% include google-analytics.html %}

  <meta name='ir-site-verification-token' value='-28223945'>

  <!-- Facebook Open Graph Protocol -->
  <meta property="og:title" content="{{ page.meta-title }}">
  <meta property="og:site_name" content="Start Bootstrap">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.meta-description }}">
  {% if page.og-image %}
  <meta property="og:image" content="{{ page.og-image }}">
  {% else %}
  <meta property="og:image" content="https://startbootstrap.com/assets/img/branding/og-start-bootstrap.png">
  {% endif %}
  <meta property="og:url" content="https://startbootstrap.com{{ page.url | replace:'index.html','' }}">
  <meta property="og:image:alt" content="{% if page.meta-title == " Start Bootstrap " %}{{ page.meta-title }} - Free Bootstrap Themes and Templates{% else %}{{ page.meta-title }}{% endif %}">

  <!-- Twitter Card -->
  {% if page.twitter-image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ page.twitter-image }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://startbootstrap.com/assets/img/branding/start-bootstrap-logo-500x500.png">
  {% endif %}
  <meta name="twitter:site" content="@SBootstrap">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/icons/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#dd3d31">
  <meta name="msapplication-TileColor" content="#dd3d31">
  <meta name="theme-color" content="#ffffff">

  <script type="text/javascript" src="//m.servedby-buysellads.com/monetization.js"></script>

</head>
