<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.meta-description }}">
<meta name="author" content="Start Bootstrap">
<meta name="google-site-verification" content="hq9-_keIZdTZt7arZ91T-gSqn8ANii362mlcn0zCgno" />

<title>
  {% if page.meta-title == "Start Bootstrap" %}
    {{ page.meta-title }} - Free Bootstrap Themes and Templates
  {% else %}
    {{ page.meta-title }} - Start Bootstrap
  {% endif %}
</title>

<!-- Google+ Authorship Information -->
<link rel="author" href="https://plus.google.com/+Startbootstrap">
<link rel="publisher" href="https://plus.google.com/+Startbootstrap">

<!-- Canonical -->
<link rel="canonical" href="http://startbootstrap.com{{ page.url }}">

<!-- Fav Icon and Apple Touch Icons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/ico/mstile-310x310.png" />


<!-- Open Graph -->
<meta property="og:title" content="{% if page.meta-title == "Start Bootstrap" %}Free Bootstrap Themes and Templates{% else %}{{ page.meta-title }}{% endif %}">
<meta property="og:site_name" content="Start Bootstrap">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ page.meta-description }}">
<meta property="og:image" content="http://startbootstrap.com/assets/img/og/startbootstrap-logo.jpg">
<meta property="og:url" content="http://startbootstrap.com{{ page.url }}">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700" rel="stylesheet" type="text/css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Bootstrap Core CSS -->
<link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Start Bootstrap Custom CSS -->
<link href="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->