<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/js/search.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/js/docs.js"></script>
<script src="http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/js/startbootstrap.js"></script>