<div class="mailchimp mt-5">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <h3 class="mb-0">Want more Bootstrap themes &amp; templates?</h3>
        <p class="text-white-50">Subscribe to get updated when new Bootstrap related products arrive!</p>
        <div id="mc_embed_signup">
          <form role="form" action="https://startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
            <div class="input-group input-group-lg">
              <input type="email" name="EMAIL" class="form-control border-0" id="mce-EMAIL" placeholder="Email address...">
              <div class="input-group-append">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light">Subscribe!</button>
              </div>
            </div>
            <div id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
