<!-- Twitch Widget -->
<a href="#" class="twitch-widget" id="twitch-widget" target="_blank"></a>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
          <div class="dropdown-menu" aria-labelledby="dropdownThemes">
            <a class="dropdown-item" href="/template-categories/all">
              <i class="fal fa-browser fa-fw"></i>
              All Templates &amp; Themes</a>
            <a class="dropdown-item" href="/template-categories/popular">
              <i class="fal fa-star fa-fw"></i>
              Most Popular</a>
            <a class="dropdown-item" href="/buy-bootstrap-templates">
              <i class="fal fa-shopping-basket fa-fw"></i>
              Buy Bootstrap Templates</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Template &amp; Theme Categories:</h6>
            <a class="dropdown-item" href="/template-categories/admin-dashboard">Admin and Dashboard</a>
            <a class="dropdown-item" href="/template-categories/full-websites">Full Websites</a>
            <a class="dropdown-item" href="/template-categories/landing-pages">Landing Pages</a>
            <a class="dropdown-item" href="/template-categories/one-page">One Page Websites</a>
            <a class="dropdown-item" href="/template-categories/portfolios">Portfolios</a>
            <a class="dropdown-item" href="/template-categories/blogs">Blogs</a>
            <a class="dropdown-item" href="/template-categories/ecommerce">Ecommerce</a>
            <a class="dropdown-item" href="/template-categories/unstyled">Unstyled Starter Templates</a>
            <a class="dropdown-item" href="/template-categories/navigation-menus">Navigation and Navbars</a>
          </div>
        </li>
        <li class="nav-item" style="position: relative;">
          <a class="nav-link" href="/snippets" title="Bootstrap Code Snippets">Snippets</a>
          <span class="badge badge-pill badge-warning text-white" style="position: absolute; top: 0; left: 56px; font-size: 8px;">NEW</span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownResources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu" aria-labelledby="dropdownResources">
            <a class="dropdown-item" href="/bootstrap-resources">
              <i class="fal fa-th-list fa-fw"></i>
              Bootstrap Resources List</a>
            <a class="dropdown-item" href="/help">
              <i class="fal fa-life-ring fa-fw"></i>
              Help &amp; FAQ</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles" title="Start Bootstrap News, Guides, and Tutorials">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" title="Contact Start Bootstrap">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownPremium" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fal fa-star"></i>
            Premium</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPremium">
            <a class="dropdown-item" href="/bootstrap-design-services">
              <i class="fal fa-pencil-alt fa-fw"></i>
              Custom Design Services</a>
            <a class="dropdown-item" href="https://www.creative-tim.com?affiliate_id=101249" onclick="ga('send','event','Product','click','Navbar Dropdown Link')">
              <i class="fal fa-shopping-basket fa-fw"></i>
              <span>Premium Themes by Creative Tim</span></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal" onclick="ga('send','event','Action','Open Search Modal')">
            <i class="fal fa-search"></i>
            <span class="d-lg-none">Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/sbootstrap">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/blackrockdigital">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://startbootstrap-slack.herokuapp.com/">
            <i class="fab fa-slack"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
