<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Our Collection of Templates &amp; Themes">Themes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/template-categories/all"><i class="fa fa-globe fa-fw"></i> All Templates &amp; Themes</a>
                        </li>
                        <li>
                            <a href="/template-categories/popular"><i class="fa fa-star fa-fw"></i> Most Popular</a>
                        </li>
                        <li>
                            <a href="/buy-bootstrap-templates"><i class="fa fa-shopping-cart fa-fw"></i> Buy Bootstrap Templates</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            Template &amp; Theme Categories:
                        </li>
                        <li>
                            <a href="/template-categories/admin-dashboard">Admin and Dashboard</a>
                        </li>
                        <li>
                            <a href="/template-categories/full-websites">Full Websites</a>
                        </li>
                        <li>
                            <a href="/template-categories/landing-pages">Landing Pages</a>
                        </li>
                        <li>
                            <a href="/template-categories/one-page">One Page Websites</a>
                        </li>
                        <li>
                            <a href="/template-categories/portfolios">Portfolios</a>
                        </li>
                        <li>
                            <a href="/template-categories/blogs">Blogs</a>
                        </li>
                        <li>
                            <a href="/template-categories/ecommerce">Ecommerce</a>
                        </li>
                        <li>
                            <a href="/template-categories/unstyled">Unstyled Starter Templates</a>
                        </li>
                        <li>
                            <a href="/template-categories/navigation-menus">Navigation and Navbars</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://startbootstrap.tumblr.com/" title="The Official Start Bootstrap Blog">Blog</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bootstrap-resources"><i class="fa fa-list fa-fw"></i> Bootstrap Resources List</a>
                        </li>
                        <li>
                            <a href="/showcase"><i class="fa fa-desktop fa-fw"></i> Start Bootstrap Showcase</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/help" title="Help with Start Bootstrap Templates &amp; Themes">Help</a>
                </li>
                <li>
                    <a href="/contact" title="Contact the Start Bootstrap Team">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Premium Bootstrap Themes &amp; Templates"><i class="fa fa-star text-yellow"></i> Premium <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bootstrap-design-services"><i class="fa fa-fw fa-paint-brush"></i> Custom Bootstrap Design Services</a>
                        </li>
                        <li>
                            <a href="https://wrapbootstrap.com/?ref=StartBootstrap"><i class="fa fa-fw fa-shopping-cart"></i> WrapBootstrap - Premium Bootstrap Themes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
