<!-- Modal -->
<div class="modal-search modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form action="get" id="site_search">
                        <div class="input-group">
                            <!-- Replace when guides go live! -->
                            <!-- <input class="form-control" type="text" id="search_box" placeholder="Search themes, templates, and guides..." autocomplete="off"> -->
                            <input class="form-control" type="text" id="search_box" placeholder="Search themes and templates..." autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                    <ul style="display: block; margin-top: 15px;" id="search_results"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
