// Typography
body {
    @include body-font;
    margin-top: 55px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

// Custom Page Headings
.page-heading {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    color: fade-out(white, 0.5);
    background-color: $brand-primary;
    margin-bottom: 30px;
    font-size: 20px;
    @include background-texture;
    h1 {
        margin-top: 0;
        color: white;
    }
    p {
        margin-bottom: 0;
        line-height: 1.4;
    }
    .container {
        position: relative;
    }
}

@media(min-width:768px) {
    .page-heading {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
        font-size: 24px;
        h1 {
            font-size: 60px;
            line-height: 1;
        }
    }
}

@media(min-width:992px) {
    .page-heading {
        h1,
        p {
            margin-right: 380px;
        }
    }
}

// Page Sections
section.page {
    margin-bottom: 30px;
    h2:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

// New Badge - Make sure parent element is relative position
.badge-new {
    color: black;
    font-size: 14px;
    line-height: 28px;
    top: -6px;
    right: -10px;
    font-family: 'Patrick Hand SC';
    text-align: center !important;
    position: absolute;
    height: 32px;
    width: 32px;
    background: #FCD670;
    border-bottom: 2px solid darken(#FCD670, 15%);
    border-radius: 100%;
    -ms-transform: rotate(-12deg);
    /* IE 9 */
    -webkit-transform: rotate(-12deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
    text-transform: none;
}

// Preview Panels
.sb-preview {
    margin-bottom: 30px;
    .card {
        background: darken(white, 4%);
        border: 1px solid darken(white, 7%);
        border-bottom: 3px solid darken(white, 7%);
        .sb-preview-img {
            @include transition;
            &:hover {
                opacity: 0.7;
            }
        }
        .card-block {
            padding: 1.5rem 1.5rem 0;
        }
        .card-footer {
            padding: 0.75rem 1.5rem 1.5rem;
            background: transparent;
            border: 0;
            .btn {
                font-size: 11px;
            }
        }
    }
}

// Disqus Comments
.disqus-comments {
    margin-bottom: 30px;
}

// Overrides
.breadcrumb {
    margin-bottom: 30px;
    background: darken(white, 4%);
    border-bottom: 3px solid darken(white, 7%);
}

.sb-card {
    background: darken(white, 4%);
    border: 1px solid darken(white, 7%);
    border-bottom: 3px solid darken(white, 7%);
    margin-bottom: 30px;
    .sb-img {
        @include transition;
        &:hover {
            opacity: 0.7;
        }
    }
    .btn {
        font-size: 11px;
    }
}
