// Normal body
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Page Headings
.page-heading {
  position: relative;

  margin-bottom: 30px;
  padding: 30px 15px;

  text-align: center;

  color: fade-out($white, 0.5);
  background-color: theme-color("primary");

  font-size: 1.25rem;

  @include background-texture;
  h1 {
    margin-top: 0;

    color: $white;
  }
  p {
    margin-bottom: 0;

    line-height: 1.4;
  }
  .container {
    position: relative;
  }
}
@media(min-width:768px) {
  .page-heading {
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: left;

    font-size: 1.5rem;
    h1 {
      font-size: 4rem;
      line-height: 1;
    }
  }
}
@media(min-width:992px) {
  .page-heading {
    h1,
    p {
      margin-right: 380px;
    }
  }
}

// Page Sections
section.page {
  margin-bottom: 30px;
  h2:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

// New Badge - Make sure parent element is relative position
.badge-new {
  position: absolute;
  top: -6px;
  right: -10px;

  width: 32px;
  height: 32px;
  /* IE 9 */

  -webkit-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
  text-align: center !important;
  text-transform: none;

  color: black;
  border-bottom: 2px solid darken(#FCD670, 15%);
  border-radius: 100%;
  background: #FCD670;

  font-family: 'Patrick Hand SC';
  font-size: 14px;
  line-height: 28px;
}

.bg-purple {
  background: $purple !important;
}

.badge-secondary {
  background-color: $gray-600 !important;
  color: white !important;
}

// Preview Panels
.sb-preview {
  margin-bottom: 30px;
  .card {
    border: 1px solid darken($white, 7%);
    border-bottom: 3px solid darken($white, 7%);
    background: darken($white, 4%);
    .sb-preview-img {
      @include transition;
      &:hover {
        opacity: 0.7;
      }
    }
    .card-body {
      padding: 1.5rem 1.5rem 0;
    }
    .card-footer {
      padding: 0.75rem 1.5rem 1.5rem;

      border: 0;
      background: transparent;
      .btn {
        font-size: 11px;
      }
    }
  }
}

// Disqus Comments
.disqus-comments {
  margin-bottom: 30px;
}

// Overrides
.breadcrumb {
  margin-bottom: 30px;

  border-bottom: 3px solid darken($white, 7%);
  background: darken($white, 4%);
}

.sb-card {
  margin-bottom: 30px;

  border: 1px solid darken($white, 7%);
  border-bottom: 3px solid darken($white, 7%);
  background: darken($white, 4%);
  .sb-img {
    @include transition;
    &:hover {
      opacity: 0.7;
    }
  }
  .btn {
    font-size: 11px;
  }
}
