body {
    margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

@media(min-width:768px) {
    .navbar-fixed-top .nav {
        padding: 15px 0;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}