---
layout: loop-templates
title: Bootstrap Templates
description: Free Bootstrap templates that are perfect starter layouts for your next web based project. With minimal added CSS, these layouts are ready for customizing
permalink: /templates/

meta-title: Free Bootstrap Templates

type: template

redirect_from:
  - /template-categories/unstyled/
---

<section class="after-loop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
        <a href="/themes/" class="after-loop-item card border-0 card-themes shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Themes</h4>
            <p class="w-75">Fully designed and ready to modify and publish!</p>
            <i class="fal fa-paint-brush-alt"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
        <a href="/snippets/" class="after-loop-item card border-0 card-snippets shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Snippets</h4>
            <p class="w-75">Code snippets ready to copy and paste!</p>
            <i class="fal fa-code"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-8 mx-auto">
        <a href="/guides/" class="after-loop-item card border-0 card-guides shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Guides</h4>
            <p class="w-75">Guides and tutorials to help you learn Bootstrap!</p>
            <i class="fal fa-books"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
