<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="preview-page">

  <div class="preview-bar bg-white fixed-top py-2 border-bottom-primary">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-between h-100">
        <div class="col">
          <i class="fab fa-github text-github small"></i>
          <a class="small" href="https://github.com/BlackrockDigital/startbootstrap-{{ page.slug }}">View on GitHub</a>
        </div>
        <div class="col d-none d-lg-block">
          <ul class="nav responsive-toggler justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="desktopToggle" data-toggle="tab" href="#" role="tab" aria-selected="true">
                <i class="fal fa-desktop"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="mobileToggle" data-toggle="tab" href="#" role="tab" aria-selected="false">
                <i class="fal fa-mobile"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col text-right">
          <a href="https://github.com/BlackrockDigital/startbootstrap-{{ page.slug }}/archive/gh-pages.zip" class="btn btn-primary btn-sm mr-2 d-none d-md-inline-block" onclick="ga('send','event','Download','click','{{ page.title }}')">Free Download</a>
          <a href="https://blackrockdigital.github.io/startbootstrap-{{ page.slug }}/" class="btn btn-link btn-sm"><i class="fal fa-times mr-1"></i> Remove Frame</a>
        </div>
      </div>
    </div>
  </div>

  <iframe class="iframe-preview" width="100%" src="https://blackrockdigital.github.io/startbootstrap-{{ page.slug }}/"></iframe>

  {% include scripts.html %}

  <script>
    $("#desktopToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").removeClass("iframe-preview-mobile");
    });
    $("#mobileToggle").on('click', function(e) {
      e.preventDefault();
      $(".iframe-preview").addClass("iframe-preview-mobile");
    });
  </script>

</body>

</html>
