---
layout: default
---

{% include heading.html %}

<div class="container">

	<div class="row">
	{% for template in site.templates reversed %}

		{% if template.categories contains page.slug %}

		<div class="col-lg-4 col-md-6 sb-preview text-center">
		    <div class="card h-100">
		        <a class="sb-preview-img" href="{{ template.src }}">
		            <img class="card-img-top" src="{{ template.img-src }}" alt="{{ template.img-desc }}">
		        </a>
		        <div class="card-body">
		            <h4 class="card-title">{{ template.title }}</h4>
		            <p class="card-text">{{ template.bump }}</p>
		        </div>
		        <div class="card-footer">
		            <a href="{{ template.src }}" class="btn btn-secondary">Preview &amp; Download</a>
		        </div>
		        {% if template.categories contains 'new' %}
		        <div class="badge-new">New!</div>
		        {% endif %}
		    </div>
		</div>

		{% endif %}

	{% endfor %}

	{% for item in site.premium reversed %}

		{% if item.categories contains page.slug %}

		<div class="col-lg-4 col-md-6 sb-preview text-center">
		    <div class="card h-100">
		        <a class="sb-preview-img" href="{{ item.src }}" onclick="ga('send','event','Referral','Referral WrapBootstrap Template Preview')">
		            <img class="card-img-top" src="{{ item.img-src }}" alt="{{ item.img-desc }}">
		        </a>
		        <div class="card-body">
		            <h4 class="card-title">{{ item.title }}</h4>
		            <p class="card-text">{{ item.bump }}</p>
		        </div>
		        <div class="card-footer">
		            <a href="{{ item.src }}" class="btn btn-secondary" onclick="ga('send','event','Referral','Referral WrapBootstrap Template Preview')">Preview &amp; Purchase</a>
		        </div>
		        {% if item.categories contains 'new' %}
		        <div class="badge-new">New!</div>
		        {% endif %}
		    </div>
		</div>

		{% endif %}

	{% endfor %}
	</div>

	{{ content }}

</div>
