footer {
  .footer-mailchimp {
    padding: 50px 0;

    color: $white;
    background-color: theme-color("primary");
    @include background-texture;
    .input-group {
      max-width: 500px;
      margin: 30px auto 0;
      input {
        border: 0;
        border-bottom: $btn-secondary-border 3px solid;
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
        &::-webkit-input-placeholder {
          @include body-font;
        }
        &::-moz-placeholder {
          @include body-font;
        }
        &:-ms-input-placeholder {
          @include body-font;
        }
        &:-moz-placeholder {
          @include body-font;
        }
      }
      .input-group-btn {
        border-left: 2px solid $btn-secondary-border;
        .btn {
          border: none;
          border-bottom: 3px solid $btn-secondary-border;
          font-size: 12px;
          padding: 15px 26px;
          &:active,
          &:hover {
            border-bottom: 3px solid darken($btn-secondary-border, 10%);
          }
        }
      }
    }
  }
  .footer-social {
    margin-top: 50px;
    margin-bottom: 0;
    ul.list-inline {
      margin: 0;
      li {
        margin: 0 10px;
        a {
          display: block;

          width: 50px;
          height: 50px;

          color: white;
          border-radius: 100%;

          font-size: 25px;
          line-height: 50px;
        }
        &.social-github {
          a {
            background-color: $brand-github;
            @include transition;
            &:hover {
              background-color: darken($brand-github, 5%);
            }
          }
        }
        &.social-twitter {
          a {
            background-color: $brand-twitter;
            @include transition;
            &:hover {
              background-color: darken($brand-twitter, 5%);
            }
          }
        }
        &.social-facebook {
          a {
            background-color: $brand-facebook;
            @include transition;
            &:hover {
              background-color: darken($brand-facebook, 5%);
            }
          }
        }
        &.social-google-plus {
          a {
            background-color: $brand-google-plus;
            @include transition;
            &:hover {
              background-color: darken($brand-google-plus, 5%);
            }
          }
        }
      }
    }
  }
  .footer-main {
    padding: 50px 0;

    text-align: center;
  }
}
