// Navigation
.sb-navbar {
  border-bottom: 1px solid $gray-200;
  background-color: $white;
  .navbar-toggler {
    padding: 13px;

    text-transform: uppercase;

    font-size: 12px;
    @include heading-font;
    i {
      margin-right: 2px;

      font-size: 10px;
    }
  }
  .navbar-brand {
    color: $navbar-light-color;
    @include heading-font;
  }
  .nav-link:focus {
    outline: none;
  }
}

.twitch-widget {
  display: none;
  @media (min-width: 992px) {
    font-weight: 300;
    font-size: 90%;

    display: block;

    width: 100%;

    color: $white;
    background-color: $brand-twitch;
    .container {
      padding-top: 1rem;
      padding-bottom: 1rem;

      text-align: center;
      img {
        height: 18px;
        margin-left: 10px;
      }
    }
    &:hover {
      text-decoration: none;

      color: $white;
      background-color: darken($brand-twitch, 10%);
    }
  }
}

.pulse {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $green;
  box-shadow: 0 0 0 fade-out($green, .2);
  animation: pulse 2s infinite;
  margin-right: 7px;
  margin-bottom: -1px;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 fade-out($green, .2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px fade-out($green, 1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 fade-out($green, 1);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 fade-out($green, .2);
    box-shadow: 0 0 0 0 fade-out($green, .2);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px fade-out($green, 1);
    box-shadow: 0 0 0 10px fade-out($green, 1);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 fade-out($green, 1);
    box-shadow: 0 0 0 0 fade-out($green, 1);
  }
}
