.post-previews {
  h3:first-child {
    margin-top: 0;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .category,
  .date {
    display: inline-block;

    margin-right: 7px;

    font-size: 14px;
    i {
      margin-right: 2px;

      font-size: 13px;
    }
  }
}

.pagination {
  margin: 30px 0;
}

.breadcrumb-post {
  margin-top: 84px;
}

article.post {
  header {
    .author,
    .date,
    .tag {
      text-transform: uppercase;

      font-weight: 700;
    }
    .author {
      font-size: 16px;
    }
    .date,
    .tag {
      font-weight: 300;
      i {
        margin-right: 3px;
      }
    }
    .date {
      display: inline-block;

      margin-right: 15px;
      margin-bottom: 30px;
    }
    .tag {
      display: inline-block;
    }
  }
  p {
    margin-bottom: 30px;

    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pager {
    margin-bottom: 30px;
    li {
      a {
        width: 48%;

        border-radius: 4px;
      }
    }
  }
}

.author-info {
  position: relative;

  margin-bottom: 30px;
  .author-content {
    padding-left: 90px;
    h3 {
      margin-top: 10px;
    }
  }
  img {
    position: absolute;
    top: 25px;
    left: 15px;

    width: 75px;
    height: 75px;
  }
}

.sb-pager-link {
  display: inline-block;

  width: 49%;
  margin-bottom: 15px;
  padding: 10px;

  text-align: center;

  border: 1px solid darken($white, 7%);
  border-bottom: 3px solid darken($white, 7%);
  border-radius: 4px;
  @include transition;
  &:hover {
    text-decoration: none;

    background: darken($white, 5%);
  }
}
